/* =============== CSS RESET AND FONTS ============ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

@font-face {
  font-family: RalewayBold;
  src: url(../fonts/Raleway/Raleway-Bold.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Light.ttf);
}
body {
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  display: none;
}

/* =============== LOADER =========== */
.loader {
  z-index: 1100;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
  background-color: white;
  animation: loader-height 1s forwards 2.8s;
  will-change: height;
}

@keyframes loader-height {
  0% {
    height: 100%;
  }
  100% {
    height: 62px;
  }
}
.loader-content {
  position: absolute;
  display: inline-block;
}

.img-logo-loader {
  background-image: url(../img/GarretlogoxV.svg);
  background-repeat: no-repeat;
  background-size: 300px 300px;
  height: 300px;
  width: 300px;
  -webkit-animation: swirlAnimation 1.3s linear 0.8s both;
  animation: swirlAnimation 1.3s linear 0.8s both;
  will-change: opacity, transform;
}

.loader-text {
  color: black;
  font-size: 50px;
  margin-top: 20px;
  font-family: "Raleway";
  -webkit-animation: textAnimation 1.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s both;
  animation: textAnimation 1.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.9s both;
  will-change: opacity, letter-spacing;
}

.paused {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/* For the logo */
@-webkit-keyframes swirlAnimation {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes swirlAnimation {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  30% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
/* For the text  */
@-webkit-keyframes textAnimation {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  20% {
    opacity: 0.6;
  }
  60% {
    letter-spacing: normal;
    opacity: 1;
  }
  100% {
    letter-spacing: 0.5em;
    opacity: 0;
  }
}
@keyframes textAnimation {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  20% {
    opacity: 0.6;
  }
  60% {
    letter-spacing: normal;
    opacity: 1;
  }
  100% {
    letter-spacing: 0.5em;
    opacity: 0;
  }
}
/* =============== NAVBAR ============ */
nav {
  font-family: "Raleway";
}

.left-border {
  display: block;
  width: 0;
  border: none;
  border-bottom: solid 5px #000;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: border-slide-in 1s forwards 3.8s;
  z-index: 1500;
  margin: -6px 0;
}

.navbar-nav > li > .dropdown-menu {
  font-family: "Raleway";
  border-top: 0;
  border-radius: 0;
  margin-top: 9px;
  z-index: 2000;
}

.navbar-brand {
  font-size: 25px !important;
  font-family: "RalewayBold";
  margin-right: 0.7rem !important;
}

.nav-item:nth-child(2) {
  margin-right: 25px;
}

.nav-item {
  margin: auto;
}

.nav-link {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  transition: 0.15s linear;
}

.nav-link:first-of-type {
  margin-left: 10px;
}

i {
  margin-right: 5px;
}

.fa-facebook {
  margin-right: 10px;
}

.navbar-nav {
  padding-right: 100px !important;
  background-color: #fff;
}

.navbar {
  padding: 0 !important;
  z-index: 1000;
  height: 57px !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: gray !important;
}

.navbar-nav {
  margin: auto;
}

/* Right Items Animation */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes border-slide-in {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* Navbar brand animation */
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
/* =============== BANNER ============ */
.img-container {
  background-image: url(../img/3D-Interior-Visualizations-Living-room-Sample.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  margin-top: 1.6em;
  transform: scale(1.1);
  -webkit-animation: fadeInAnimation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.5s backwards;
  animation: fadeInAnimation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.5s backwards;
}

.garrett {
  background-image: url(../img/MakiTransparent.png);
  background-size: 503px 754px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 4;
  width: 503px;
  height: 710px;
  -webkit-animation: fadeInAnimation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3.5s backwards;
  animation: fadeInAnimation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3.5s backwards;
  transform: scale(1.3);
}

.img-centerer {
  position: relative;
  display: inline-block;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  z-index: 1;
  bottom: 80px;
  width: 503px;
  height: 710px;
}

/* Garrett's animation */
@-webkit-keyframes fadeInAnimation {
  0% {
    -webkit-transform: blur(12px);
    transform: blur(12px);
    opacity: 0;
    display: none;
  }
  100% {
    -webkit-transform: blur(0);
    transform: blur(0);
    opacity: 1;
    display: inline-block;
  }
}
@keyframes fadeInAnimation {
  0% {
    -webkit-transform: blur(12px);
    transform: blur(12px);
    opacity: 0;
    display: none;
  }
  100% {
    -webkit-transform: blur(0);
    transform: blur(0);
    opacity: 1;
    display: inline-block;
  }
}
/* =============== Parallax Panels ============ */
#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.panels {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

#static-panel {
  position: fixed;
  top: 0;
  left: 0;
  /* prevents your fixed panel from being on top of your subsequent panels */
  z-index: 600;
}

#scrolling-panel {
  margin-top: 100vh;
  z-index: 700;
  background-color: white;
}

/* =============== BODY ============ */
#page-content {
  margin-top: 100px;
}

.cenetered-container {
  background: white !important;
  z-index: 10;
  width: 100vh;
  margin-top: 115px;
  box-sizing: border-box;
  position: relative;
}

.no-margin {
  margin: 0 !important;
}

.no-podding {
  padding: 0 !important;
}

#about-me-section {
  margin-top: 50px;
}

.article {
  font-weight: bold;
  padding: 20px;
  margin-bottom: 10px;
  height: 100%;
}

.moretext {
  display: none;
}

.section-heading {
  font-family: "RalewayBold";
  text-transform: uppercase;
}

.section-text {
  font-family: "Raleway";
  font-size: 20px;
}

/* Read more button made w/ sass */
#read-more-button {
  display: flex;
  justify-content: center;
}

.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  outline: none !important;
}
.learn-more.learn-more {
  width: 12rem;
  height: auto;
}
.learn-more.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
.learn-more.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.learn-more.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.learn-more.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.learn-more.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.learn-more:hover .circle {
  width: 100%;
}
.learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.learn-more:hover .button-text {
  color: #fff;
}

#agency {
  margin-top: 50px;
}

.background-container {
  width: 100%;
  background-color: rgba(210, 218, 226, 0.4);
  text-align: center;
  /* box-shadow: inset 0 15px 18px #888888, inset 0 -15px 18px #888888; */
}

.agency-body {
  padding-bottom: 25px;
}

/* Cards for agency section */
.col-lg-3 {
  margin-bottom: 32px;
}

.card-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  background: url(../img/house-interior-landing-page.jpg);
  background-color: black;
  background-size: cover;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

.overlay {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  background: rgba(77, 77, 77, 0.9);
  color: #fef5df;
  opacity: 0;
  transition: all 0.5s;
  font-family: "Playfair Display", serif;
}

.items {
  padding-left: 20px;
  letter-spacing: 3px;
}

.head {
  font-size: 30px;
  line-height: 40px;
  transition: all 0.7s;
}
.head hr {
  display: block;
  width: 0;
  border: none;
  border-bottom: solid 2px #fef5df;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.4s;
}

.price {
  font-size: 22px;
  line-height: 10px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
}
.price .old {
  text-decoration: line-through;
  color: #b3b3b3;
}

.cart {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
}
.cart i {
  font-size: 16px;
}
.cart span {
  margin-left: 10px;
}

.card-container:hover .overlay {
  opacity: 1;
}
.card-container:hover .overlay .head {
  transform: translateY(0);
}
.card-container:hover .overlay hr {
  width: 100%;
  transition-delay: 0.4s;
}
.card-container:hover .overlay .price {
  transform: translateY(0);
  transition-delay: 0.3s;
  opacity: 1;
}
.card-container:hover .overlay .cart {
  transform: translateY(0);
  transition-delay: 0.6s;
  opacity: 1;
}

.agency-btn {
  position: relative;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  outline: none !important;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.fill:hover {
  color: whitesmoke;
}

.fill::before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover::before {
  top: 0;
}

/* =============== FOOTER ============ */
/* Footer dvider */
.outer {
  width: 1px;
  height: 400px;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: grey;
  top: 0;
  box-shadow: 0 0 30px 20px grey;
}

.clr {
  clear: both;
}

.footer-wrapper {
  width: 100%;
  height: auto;
  min-height: 250px;
  margin: auto;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding-top: 20px;
  bottom: 0;
}

.footer-social-icons {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 15px;
}

.footer-social-icons ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-social-icons ul li {
  display: inline-block;
  margin-right: 2px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  padding-left: 5px;
  background: #000;
  transition: background 0.15s;
}

.footer-social-icons ul li a {
  color: #fff;
  display: block;
  font-size: 22px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.footer-social-icons ul li a i {
  line-height: 36px;
}

.footer-social-icons ul li:nth-child(1):hover {
  background: #3b5998;
}

.footer-social-icons ul li:nth-child(2):hover {
  background: #c32aa3;
}

.footer-social-icons ul li:nth-child(3):hover {
  background: #007bb5;
}

.footer-mid-part {
  width: 100%;
  height: auto;
  margin: auto;
}

.footer-section {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  text-align: center;
}

.footer-row {
  display: flex;
  justify-content: center;
}

.footer-heading {
  width: 100%;
  height: auto;
  margin: auto;
}

.footer-heading h2 {
  font-size: 22px;
  text-align: left;
  color: #000;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  font-family: "RalewayBold";
}

.footer-contact-box {
  width: 60%;
  height: auto;
  margin: auto;
  margin-top: 13px;
  display: flex;
  justify-content: center;
  transition: color 0.15s;
}

.footer-contact-icon {
  width: 25px;
  height: 25px;
  float: left;
}

.footer-contact-icon i {
  color: #282936;
  font-size: 20px;
  transition: color 0.15s;
}

.footer-contact-text {
  width: 85%;
  height: auto;
  float: left;
  margin-left: 10px;
  transition: color 0.15s;
  font-family: "Raleway";
}

.footer-contact-text p {
  font-size: 14px;
  text-align: left;
  color: #000;
  cursor: pointer;
  transition: color 0.15s;
}

.footer-contact-text p a {
  font-size: 14px;
  text-align: left;
  color: #000;
  text-decoration: none;
  transition: color 0.15s;
}

.footer-contact-text p:hover {
  color: #f00;
}

.footer-contact-box:hover .footer-contact-icon i {
  color: #f00;
}

.footer-contact-box:hover .footer-contact-text p a {
  color: #f00;
}

.footer-link {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}

.footer-link ul {
  margin: 0;
  padding: 0;
}

.footer-link ul li {
  list-style-type: none;
  text-align: center;
  padding-top: 5px;
}

.footer-link ul li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

.footer-link ul li a:hover {
  color: #f00;
}

/* Contact form */
.footer-form {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #282936;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar::before,
.bar::after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #282936;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar::before {
  left: 50%;
}

.bar::after {
  right: 50%;
}

/* active state */
input:focus ~ .bar::before,
input:focus ~ .bar::after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #282936;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #282936;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #282936;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* Contact me button */
.lets-talk-button {
  color: #3f3f3f;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: auto;
  padding: 12px 32px 12px 82px;
  position: relative;
  text-decoration: none;
}

.lets-talk-button .label,
.lets-talk-button .icon-arrow {
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
}

.lets-talk-button .label {
  display: inline-block;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.lets-talk-button .icon-arrow {
  fill: #3f3f3f;
  height: 15px;
  top: 17px;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  width: 35px;
}

.lets-talk-button .icon-arrow.before {
  left: 32px;
  margin-right: 15px;
  position: absolute;
  transform-origin: left center;
}

.lets-talk-button .icon-arrow.after {
  margin-left: 15px;
  opacity: 0;
  position: absolute;
  right: 32px;
  transform: translateX(75%) scaleX(0.1);
  transform-origin: right center;
}

.lets-talk-button:hover .label {
  transform: translateX(-52px);
}

.lets-talk-button:hover .icon-arrow.before {
  opacity: 0;
  transform: translateX(-75%) scaleX(0.1);
}

.lets-talk-button:hover .icon-arrow.after {
  opacity: 1;
  transform: translateX(0) scaleX(1);
}

.lets-talk-button:active {
  border-color: #fd6154;
  color: #fd6154;
}

.lets-talk-button:active .icon-arrow {
  fill: #fd6154;
}

.footer-bottom {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  color: #000;
  font-family: "Raleway";
}

.footer-logo {
  background-image: url(../img/GarretlogoxV.svg);
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin: auto;
}

h1 {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}

h1 span {
  color: #f00;
}

.line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#return-to-top {
  position: absolute;
  z-index: 500;
  background: black;
  background: black;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/* Responsive code for the screen */
@media only screen and (max-width: 1199px) {
  .footer-wrapper {
    position: relative;
    background-attachment: scroll;
  }

  h1 {
    font-size: 4vw !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer-section {
    padding: 12px;
  }

  .outer {
    width: 400px;
    height: 1px;
    margin: 30px 200px 30px 200px;
  }

  .navbar-brand {
    width: 288.19px;
    height: 57px;
  }

  .left-border {
    margin-top: 1px;
  }
}
@media only screen and (max-width: 700px) {
  .outer {
    width: 400px;
    height: 1px;
    margin: 10px;
    margin: 30px 200px 30px 200px;
  }

  .garrett {
    bottom: 0;
  }
}
@media only screen and (max-width: 991px) {
  .garrett {
    bottom: 0;
  }

  .navbar-toggler {
    border: none !important;
    outline: none !important;
    margin: 10px;
    opacity: 0;
    animation: fade-in 1s forwards 2.8s;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-width: 991px) {
  .nav-link {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 4s both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 4s both;
    will-change: filter, opacity;
  }

  .navbar-brand {
    -webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.61, 0.355, 1) 3s both;
    animation: tracking-in-contract 1s cubic-bezier(0.215, 0.61, 0.355, 1) 3s both;
    will-change: opacity, letter-spacing;
  }

  .garrett {
    -webkit-animation: fadeInAnimation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 5s backwards;
    animation: fadeInAnimation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 5s backwards;
    will-change: opacity, transform;
  }
}
@media only screen and (max-width: 615px) {
  .outer {
    margin: 45px 200px 45px 200px;
  }

  .garrett {
    bottom: -7.5em;
    transform: scale(1);
  }
}
@media only screen and (max-width: 475px) {
  .garrett {
    transform: scale(0.9);
    bottom: -8em;
    right: 15px;
  }

  .section-heading {
    font-size: 1.5rem !important;
  }
}
@media only screen and (max-width: 395px) {
  .garrett {
    transform: scale(0.8);
    bottom: -10em;
    right: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
