/* =============== NAVBAR ANIMATIONS ============ */
/* Navbar items animation */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

// New logo loader animation
@-webkit-keyframes text-focus-in-out {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  50% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  100% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
}

@keyframes text-focus-in-out {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  50% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  100% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
}

//Animation for the navbar border
@keyframes border-slide-in {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

// Navbar brand animation
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/* =============== LOADER ANIMATIONS ============ */
// The Logo Animation
@-webkit-keyframes swirlAnimation {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }

  50% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }

  90% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

@keyframes swirlAnimation {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }

  30% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }

  90% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

// The loader text animation
@-webkit-keyframes textAnimation {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  20% {
    opacity: 0.6;
  }

  60% {
    letter-spacing: normal;
    opacity: 1;
  }

  100% {
    letter-spacing: 0.5em;
    opacity: 0;
  }
}

@keyframes textAnimation {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  20% {
    opacity: 0.6;
  }

  60% {
    letter-spacing: normal;
    opacity: 1;
  }

  100% {
    letter-spacing: 0.5em;
    opacity: 0;
  }
}

//Changes the loader height
@keyframes loader-height {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-100% + 62px));
  }
}

/* =============== HERO PAGE ANIMATIONS ============ */
// Garrett's animation
@-webkit-keyframes fadeInAnimation {
  0% {
    -webkit-transform: blur(12px);
    transform: blur(12px);
    opacity: 0;
    display: none;
  }

  100% {
    -webkit-transform: blur(0);
    transform: blur(0);
    opacity: 1;
    display: inline-block;
  }
}

@keyframes fadeInAnimation {
  0% {
    -webkit-transform: blur(12px);
    transform: blur(12px);
    opacity: 0;
    display: none;
  }

  100% {
    -webkit-transform: blur(0);
    transform: blur(0);
    opacity: 1;
    display: inline-block;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
