/* Responsive code for the screen */
@media only screen and (max-width: 1199px) {
  .footer-wrapper {
    position: relative;
    background-attachment: scroll;
  }

  h1 {
    font-size: 4vw !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer-section {
    padding: 12px;
  }

  .outer {
    width: 400px;
    height: 1px;
    margin: 30px 200px 30px 200px;
  }

  .navbar-brand {
    width: 288.19px;
    height: 57px;
  }

  .left-border {
    margin-top: 1px;
  }
}

@media only screen and (max-width: 700px) {
  .outer {
    width: 400px;
    height: 1px;
    margin: 10px;
    margin: 30px 200px 30px 200px;
  }

  .garrett {
    bottom: 0;
  }
}

@media only screen and (max-width: 991px) {
  .garrett {
    bottom: 0;
  }

  .navbar-toggler {
    border: none !important;
    outline: none !important;
    margin: 10px;
    opacity: 0;
    animation: fade-in 1s forwards 5s;
  }
}

@media only screen and (max-width: 615px) {
  .outer {
    margin: 45px 200px 45px 200px;
  }

  .garrett {
    bottom: -7.5em;
    transform: scale(1);
  }
}

@media only screen and (max-width: 475px) {
  .garrett {
    transform: scale(0.9);
    bottom: -8em;
    right: 15px;
  }

  .section-heading {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 395px) {
  .garrett {
    transform: scale(0.8);
    bottom: -10em;
    right: 15px;
  }
}
